.no-leading-space {
	margin-top: -20px;
}

.no-trailing-space {
	margin-bottom: -20px;
}

.small-trailing-space {
	margin-bottom: 5px;
}

ul {
	padding-left: 0;
	list-style-position: inside;
}

li {
	padding-left: 1.28571429em;
    text-indent: -1.28571429em;
}

li span {
	position: relative;
	left: -10px;
}