/*
 * My CSS Classes
 */
.center-align {
	text-align: center;
	margin-top: 0px;
}

.blue-text {
	color: blue;
}

.no-preceding-space {
	margin-top: -10px;
}

.reduced-preceding-space {
	margin-top: -5px;
}

.no-indent {
	padding: 0;
}

.small-text {
	font-size: 84%;
}

.footer {
	font-size: 80%;
	margin-bottom: -20px;
}

/*
 * CSS classes from Google template
 */
/* General styles */
body {
	margin: 0;
	padding: 0;
	border: 0;				/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	background: #fff;
	min-width: 600px;    	/* Minimum width of layout - remove line if not required */
							/* The min-width property does not work in old versions of Internet Explorer */
	font-size: 85%;
}

a {
	color:#369;
}
a:hover {
	color: #fff;
	background: #369;
	text-decoration: none;
}

h1, h2, h3 {
	margin: .8em 0 .2em 0;
	padding: 0;
}

p {
	margin: .4em 0 .8em 0;
	padding: 0;
	line-height: 95%;
}

img {
	margin: 10px 0 5px;
}

/* 'widths' sub menu */
#layoutdims {
	clear: both;
	background: #eee;
	border-top: 4px solid #000;
	margin: 0;
	padding: 6px 15px !important;
	text-align: right;
}

/* column container */
.colmask {
	clear: both;
	float: left;
	width: 100%;				/* width of whole page */
	overflow: hidden;		/* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1,
.col2,
.col3 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
}

/* 2-column (double page) settings */
.doublepage {
	background: #eee;		/* right column background colour */
}

.doublepage .colleft {
	right: 50%;				/* right column width */
	background: #fff;		/* left column background colour */
}

.doublepage .col1 {
	width: 46%;			/* left column content width (column width minus left and right padding) */
	left: 52%;			/* right column width plus left column left padding */
}

.doublepage .col2 {
	width: 46%;			/* right column content width (column width minus left and right padding) */
	left: 56%;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}