body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px auto;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.sidebar-wrapper {
  background: #A15277;
  color: #fff;
  position: absolute;
  right: 0px;
  width: 290px;
}

.sidebar-wrapper .profile-container {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 30px 0px 30px 30px;
}

.sidebar-wrapper .profile-container .name {
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 5px -15px;
}

.sidebar-wrapper .profile-container .tagline {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sidebar-wrapper .profile-container .contact-container {
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: -30px;
  text-align: left;
}

.sidebar-wrapper .profile-container .contact-container .contact-list .svg-inline--fa {
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}

.sidebar-wrapper .profile-container .contact-container .contact-list li {
  margin-bottom: 3px;
}

.sidebar-wrapper .profile-container .contact-container .contact-list .address {
  white-space: pre;
  text-align: left;
}

.sidebar-wrapper .container-block {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.sidebar-wrapper .container-block .container-block-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.sidebar-wrapper .container-block .education-item {
  margin-bottom: 10px;
}

.sidebar-wrapper .container-block .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.sidebar-wrapper .container-block .meta {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0;
}

.sidebar-wrapper .container-block .desc {
  color: rgba(255, 255, 255, 0.6);
}

.sidebar-wrapper .container-block .list-sm {
  margin-bottom: 0;
}

.sidebar-wrapper .container-block .list-sm li {
  font-size: 14px;
  margin-bottom: 5px;
}

.main-wrapper {
  padding: 35px 300px 15px 20px;
}

.main-wrapper .section .section-title {
  color: #6e3852;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.main-wrapper .section .section-title .icon-holder {
  background: #6e3852;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #fff;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
  top: -8px;
  position: relative;
  width: 30px;
  height: 30px;
}

.main-wrapper .section .section-title .icon-holder .svg-inline--fa {
  font-size: 14px;
  margin-top: 6px;
}

.main-wrapper .section {
  margin-bottom: 25px;
}

.main-wrapper .section .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: -5px;
}

.main-wrapper .section .solo {
  margin-bottom: 15px;
}

.main-wrapper .section .upper-row .job-title {
  color: #3F4650;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .section .upper-row .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3;
}

.main-wrapper .section .upper-row .company {
  margin-bottom: 10px;
  color: #97AAC3;
}

@media print {
  .sidebar-wrapper {
    height: 100%;
  }
}

@page {
  size: 8.5in 11.0in !important;
  margin: 0 !important;
}
